<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% if user.is_authenticated %}
username : {{user.username}}
{% endif %}
<br>
<a href="https://www.facebook.com/v6.0/dialog/oauth?
client_id=518530512380873
&redirect_uri=http://localhost:8000/members/facebook-login/"
   class="btn-block btn btn-primary">facebook login</a>
</body>
</html>